<h2>Dashboard</h2>

<h2>Welcome {{user.role}} {{user.firstName}} {{user.lastName}}</h2>

<a href="/product/add">Add Products</a>
<br>
<br>
<a href="/product/list">View a list of created products</a>
<br>
<br>
<form method="POST" action ="/registration/logout">
<input type="submit" value="Logout">
</form>